

body {
text-align: center;
    font-family: Arial, sans-serif;
    background: #c0dfff;
    margin: 0;
    padding: 0;
     min-height: 100vh;          /* screen height */
	          display: flex;
    flex-direction: column;

}

/* ===== PAGE CONTENT WRAPPER ===== */
        /* ===== TITLE BOX ===== */
        .title-box {
            width: 70%;
            margin: 40px auto 0;
            background: #000099; /* */
            border-radius: 18px;
            border: 2px solid #fff;
            box-shadow: 0 0 15px #555; /* extra shadow for title box */
            text-align: center;
        }
          .title-box h1 {
            margin: 0;                 
            padding: 18px 10px;        
            font-size: 42px;
            color: white;
            white-space: nowrap;
            text-shadow: 2px 2px 6px #333; /* extra drop shadow for heading */
        }

     /*=======dis-box=========*/
 	.des-box1{
           
           width: 70%;
            margin: 40px auto 0;
            background: white;
            border-radius: 18px;
            box-shadow: 0 0 15px #555; /* extra shadow for title box */
            text-align: center;
}
       .des-box1 h2 {
            margin: 0;                 
            padding: 18px 10px;        
            font-size: 24px;
            color: white;
            white-space: nowrap;
            text-shadow: 2px 2px 6px #333; /* extra drop shadow for heading */
        }


    
  /* ===== TOP DESCRIPTION SECTION ===== */
        .description {
            max-width: 70%;
            margin: 25px auto 0;
            background: white;
            padding: 25px 30px;
            border-radius: 18px;
            font-size: 24px;
            line-height: 1.6;
            box-shadow: 0 0 10px #ccc;
            color: #333;
        }

.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 1 column for districts */
    gap: 25px;
    width: 35%;
}

  /* ===== DISTRICT  BUTTON ===== */
        .district {
    padding: 18px 10px;
    background: white;
    text-align: center;
    border: 3px solid black;
    border-radius: 18px;
    font-size: 36px;
    font-weight: bold;
	height: 120px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: inherit;
    box-shadow: 0 4px 12px #999;
    transition: 0.3s;
    cursor: pointer;      
        }


      .district:hover {
              background: #9fd0ff;        /* brighter pop color */
              transform: scale(1.05);     /* slightly more pop */
              box-shadow: 0 6px 20px #666; /* stronge*/        
}

        /* ===== FOOTER ===== */
        footer {
	            background: #000;
            padding: 15px 0;
            margin-top: auto;
			
               }

.footer-content {
            max-width: 70%;
			text-align: center;
            margin-right: auto;
			margin-left: auto;
            color: #fff;
            text-align: center;
            font-size: 18px;
            line-height: 1.3;
        }


/* ===== BACK BUTTON ===== */
.back-button {
    background: #ffe6cc;
    border: none;
    border-radius: 12px;
    padding: 15px 30px;
    font-size: 28px;
    cursor: pointer;
    margin: 30px;
    transition: 0.3s;
    white-space: nowrap;
}

.back-button:hover {
    background: #ffcc99;
    transform: scale(1.05);
}

/* ===== MOBILE RESPONSIVE ===== */
@media (max-width: 700px) {

               .title-box {
                width: 90%;
                margin-top: 75px;
                 border: 2px solid #fff;
            }

  .title-box h1 {
                font-size: 26px;
                padding: 14px 8px;
                white-space: nowrap;
                text-shadow: 1px 1px 4px #333;
            }

  .des-box1 {
             width: 90%;
            }
            
               .des-box1 h2 {
                font-size: 26px;
                padding: 14px 8px;
                white-space: nowrap;
                text-shadow: 1px 1px 4px #333;
            }


  .description {
                display: none;
            }

            
    .container {
        margin-top: 50px;
        margin-bottom: 35px;
    }

    .grid {
                grid-template-columns: repeat(1, 1fr);
                width: 90%;
                gap: 30px;
    }

    .district {
	display: block;
	   border-radius: 12px;
	   border: 2px solid #000;

        font-size: 22px;  /* smaller font on phone */
        padding: 10px 10px; /* reduce padding */
        height: auto;
        box-shadow: 0 3px 10px #999;
text-align: left;
white-space: normal;

    }

  .district:hover {
              box-shadow: 0 5px 16px #777;           
            }


    .back-button {
       display: none;
    }


 .footer-content {
             
                max-width: 100%;
                font-size: 12px;
            }
}

